<div style="padding: 15px 30px; margin: 15px 0; border: 1px solid #ddd; border-radius: 4px;">

<p style="margin: 0; paddig:0; margin-bottom: 10px; word-wrap: break-word;">

<a style="color: {{ quote_font_color }}; font-size: {{ quote_font_size }}; text-decoration: none;" href="{{ tweetURL }}" target="_blank">“{{ quote }}” - by {{ author }}</a>
</p>
<p style="margin: 8px; color: {{ link_font_color }}; font-size: {{ link_font_size }}; text-align:right; text-transform: uppercase;">
<a style="padding-right: 25px; color: #999; font-weight: bold; background: transparent url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAABgklEQVR42o1TTUvDQBDdo/pjRPwd3tJUD6KCooLgbxDPHkRUKiKePBi3ftWq4KHUgsUeevFQtaJSWy/mizS2TVszZkKTZhOb+mAOO9l5szPvhRAfonFllDuSdzgqFTkqNjF4QXrmqRzjBWWE9MLYeWUoQuU96yKEBZJHDkuDgWKrU6ZfsRMRQUwzJP06LyRVmEuo/nzMndlJbuR0mDpTmIunT3VAmCZApmTAbv4bos533AnO5FzOlg0oa21YSWv2eTahgAksDh5qnn2I2wS37STW73Vodyo+q23IVZrgx+RJ94UclR+JLVMncfnSgDCItR9WESoaDMGMNX/hq9WTIFlsBAk6JnGTqXfjz2K9acL8hU8JQS4Q22Ge5HhchptXdpR6y4TVWy3oByptEpQCDyjNWrZqq+DAsDZ692HA8rXay5XDthe8UiLRomWcpSsVJo7DHCludZ1o2RLt+V8r81RKTe+/DTD/A5J4XxLWOVDsBe4EHYYmQZkwcNu4MHdmD34BxGOuTZWj1nMAAAAASUVORK5CYII=) no-repeat right top" href="{{ tweetURL }}" target="_blank" c="">Click To Tweet</a>
</p>
</div>